{% extends 'user/layout/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'user/global/images/bg-breadcrumb.png' %}" style="background-image: url(&quot;{% static 'user/global/images/bg-breadcrumb.png' %}&quot;);">
  <div class="container h-100">
      <div class="text-center h-100 ">
        <div class="breadcrumb__text h-100 text-white d-flex justify-content-center align-items-center">
          <h2>{% trans "success-register-header" %}</h2>
      </div>
    </div>
  </div>
</div>
</section>

<div class="container p-3 text-center {% if request.mobile %}w-40{% endif %}">
    <h4>{% trans "success-register-body-01" %}: <code>{{email}}</code></h4>
    <h4>{% trans "success-register-body-02" %}</h4>
    <a href="{% url 'user.index' %}" class="btn flat-btn m-auto d-block w-40">{% trans "common-home-page" %}</a>
</div>
{% endblock content %}
