{% extends 'user/layout/base.html' %}
{% load static %}
{% block title %}Xác nhận email{% endblock title %}
{% load i18n %}
{% block css %}
<style>
.btn-resend {
    min-width: 120px;
}
.form-control {
    background: #fff;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d0d0d0;
    border-radius: 0;
}
</style>
{% endblock css %}
{% block content %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'user/global/images/bg-breadcrumb.png' %}" style="background-image: url(&quot;{% static 'user/global/images/bg-breadcrumb.png' %}&quot;);">
  <div class="container h-100">
      <div class="text-center h-100 ">
        <div class="breadcrumb__text h-100 text-white d-flex justify-content-center align-items-center">
          <h2>{% trans "re-verify-email-header" %}</h2>
      </div>
    </div>
  </div>
</div>
</section>

<div class="container pb-5 pt-5 text-left {% if not request.is_mobile  %}w-40{% endif %}">
    <h4 class="mb-4">{% trans "re-verify-email-sub-header" %}</h4>
    <div class="form-group row w-100 m-0">
        <input type="email" class="form-control col-8" id="email" name="email" value="{{email}}" placeholder="{% trans "re-password" %}" readonly>
        <button class="btn flat-btn ml-2 border-0 col-3 btn-resend">
        <svg class="d-none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="25px" height="25px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <g>
            <path d="M50 15A35 35 0 1 0 74.74873734152916 25.251262658470843" fill="none" stroke="#ffffff" stroke-width="12"></path>
            <path d="M49 3L49 27L61 15L49 3" fill="#ffffff"></path>
            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="2.380952380952381s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
          </g>
        </svg>&nbsp;
        {% trans "re-verify-email-resend" %}
        </button>
        
    </div>
    
    <h6 class="text-left mt-2">{% trans "re-verify-email-body" %}</h6>
</div>
{% endblock content %}
{% block script %}
<script>
$(document).ready(function(){
  $('.btn-resend').click(async function() {
    let url = 'register/re-send-activate?email={{email}}'
    $(this).find('svg').removeClass('d-none');
    $(this).attr('disabled', 'true');
    await $.ajax({
      url,
      type: "GET",
      success: function(data) {
        if (data.success) {
          toastr.success("Mail gửi thành công")
        } else {
          toastr.error(data.errors)
        }
      }
    });
    $(this).find('svg').addClass('d-none');
    $(this).removeAttr('disabled');
  })
})
</script>

{% endblock script %}