{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page mt-5 ">
        <h2 class="headline text-warning text-center float-none font-weight-bold">403</h2>

        <div class="error-content m-0 text-center">
          <h3 class="font-weight-bold"><i class="fas fa-exclamation-triangle text-warning "></i>Bạn không có quyền truy cập tài nguyên</h3>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
{% endblock content %}
