{% load i18n %}


<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 pl-0">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>{% trans "navbar-all-categories"%}</span>
          </div>
          <ul class="all-category">
            {% comment %} Call Api {% endcomment %}
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search row w-100 ml-0">
          <div class="hero__search__form col-8 pl-0">
            <form action="{% url 'user.product.list' %}" id="search-box-form">
              <input class="text-dark" type="text" name="search_keyword" placeholder="{% trans "navbar-searchbox-placeholder" %}">
              <button type="submit" class="site-btn">{% trans "navbar-searchbtn" %}</button>
            </form>
          </div>
          <div class="hero__search__phone col-4 pr-0">
            <div class="hero__search__phone__text text-right float-right">
              <h5>0246.2601.144</h5>
              <span>0968.168.299 (zalo)</span>
            </div>
            <div class="hero__search__phone__icon float-right mr-2">
              <i class="fa fa-phone"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
