{% extends 'user/layout/base.html' %}
{% load static %}
{% block title %}Đăng nhập{% endblock title %}
{% load i18n %}
{% block css %}
<style>

.alert {
  border: 1px solid #d0d0d0;
  border-radius: 0;
}
.btn-submit {
  height: 3.5rem
}

label {
  font-weight: bold
}

.fixed-width {
  width: 9rem;
}


</style>
{% endblock css %}
{% block content %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'user/global/images/bg-breadcrumb.png' %}" style="background-image: url(&quot;{% static 'user/global/images/bg-breadcrumb.png' %}&quot;);">
  <div class="container h-100">
      <div class="text-center h-100 ">
        <div class="breadcrumb__text h-100 text-white d-flex justify-content-center align-items-center">
          <h2>{% trans "login" %}</h2>
      </div>
    </div>
  </div>
</div>
</section>

<div class="container pb-5 pt-5 {% if not request.is_mobile  %}w-40{% endif %}">
  {% if success %}
    <div class="alert alert-success">{{success}}</div>
  {% endif %}
  {% if errors %}
    <div class="alert alert-danger">{{errors}}</div>
  {% endif %}
  <form id="login-form" action="{% url 'user.login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">{% trans "password" %}</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="{% trans "password" %}">
    </div>
    <button type="submit" class="btn flat-btn w-50 m-auto d-block btn-submit ">{% trans "login" %}</button>
    <div class="d-flex justify-content-between mt-3">
      <a href="{% url 'user.register' %}" class="btn flat-btn m-0 d-block btn-secondary fixed-width">{% trans "register" %}</a>
      <a href="{% url 'user.forget-password' %}" class="btn flat-btn m-0 d-block btn-secondary fixed-width">{% trans "forget-password" %}</a>
    </div>
  </form>
</div>
{% endblock content %}

{% block script %}
<!-- jquery-validation -->
<script src="{% static 'admin-lte/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script>
$(document).ready(function(){

})
</script>
{% endblock script %}
